<!DOCTYPE html>
<html lang="fr">
  <head>
      <% include ../partials/head.ejs %>
  </head>
  <body>

    <header>
        <% include ../partials/menu.ejs %>
    </header>

    <main id="main-menu">
      <div class="container">
        <h2 class="jumbotron text-center">Liste des projets</h2>
        <% if(locals.userId != null) { %>
          <div class="row">
            <div class="col-12 text-center" style="margin-bottom:30px;">
              <a id="create-project-button" class="btn btn-info" href="/createProject">Créer un projet</a>
            </div>
          </div>
        <%}%>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Nom du projet</th>
              <th scope="col">Description</th>
              <th scope="col">Date de départ</th>
              <th scope="col">Durée des sprints</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="project-list-body">
            <% projects.forEach(function(project){ %>
              <tr>
                <td><%= project.name %></td>
                <td><%= project.description %></td>
                <td><%= project.startingDay %></td>
                <td><%= project.durationSprint %></td>
                <form method="post" action="project">
                  <td><button type="submit" value='<%= project._id %>' class="btn btn-info" name="id">Accéder au projet</td>
                </form>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>

    </main>

    <script>
    $("#menu-list").hide();
    </script>

  </body>
</html>
